/* 滚动条 */
::-webkit-scrollbar {
	width: 4px; /* 滚动条宽度 */
	height: 4px; /* 滚动条高度 */
	background-color: white; /* 滚动条背景颜色 */
}
::-webkit-scrollbar-thumb {
	background-color: #dddee0; /* 滚动条滑块背景颜色 */
	border-radius: 20px; /* 滚动条滑块圆角 */
	box-shadow: inset 0 0 0 white; /* 滚动条滑块阴影 */
}

.el-header{
	--el-header-padding:0 !important;
	--el-header-height:55px !important;
	box-sizing:border-box;flex-shrink:0;
	height:var(--el-header-height);
	padding:0 !important;
}


// .el-menu-item.is-active {
// 	background-color: @active-bg !important;
// 	border-radius: 5px;
// }

// .el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title{
// 	background-color: @active-bg !important;
// 	border-radius: 5px;
// }

// .el-sub-menu__title:hover{
// 	background-color: @sub-hover-color !important;
// }

// .el-menu-item.is-active {
// 	background-color: @active-bg !important;
// 	border-radius: 5px;
// }
// .el-menu-item:hover {
// 	background-color: @sub-hover-color !important;
// 	border-radius: 5px;
// 	color: @hover-color !important;
// }

